@import "../../Theme/colors.scss";

.card {
  text-align: center;
}

.section_header_text {
  text-align: center;

  h2 {
    color: $color-salmon;
  }
}

.software-dev {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  min-height: 400px;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .about {
    margin-bottom: 2rem;

    .about_inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      padding: 2.5rem 0;

      .card {
        &.left-img {
          border: none;
        }
      }

      .about_info_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        > div {
          display: flex;
          flex-direction: row;
          margin-bottom: 2.5rem;
        }
        .card {
          width: 100%;

          .card-body {
            .card-text {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .projects {
    margin-bottom: 2rem;

    .card-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 2.5rem 0;

      .card {
        margin: 0px 7px;

        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .card-text {
            font-size: small;

            .prjt-card-btns {
              display: inline;
            }
          }
        }
      }
    }
  }
}
